/* Leaderboard Container */
.leaderboard-container {
    max-width: 700px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: relative; /* Ensure the container is relative for absolute positioning */
  }
  
  /* Header Section */
  .leaderboard-header {
    display: flex;  
    align-items: center;
    width: 100%;
  }
  
  .back-button {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  /* Dropdown Menu */
  .month-selector {
    position: relative;
    margin: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: 10px;
  }
  
  .month-selector select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  /* Leaderboard List */
  .leaderboard-list {
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .leaderboard-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .username {
    font-weight: bold;
  }
  
  .post-count {
    font-size: 14px;
    color: #666;
  }
  
  /* No Data Message */
  .no-data {
    text-align: center;
    color: #888;
    font-size: 16px;
    margin-top: 20px;
  }
  